*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body,html{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-image: url("images/roadmap6.webp"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.background{
  background-image: url("https://img.freepik.com/premium-photo/online-credit-card-payment-conceptx9_34478-2175.jpg?w=996");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 120px;
}

form {
    width: 100%;
    background: rgb(128, 128, 128, .5); 
    border-radius: 10px;
    padding: 20px 80px;
    position: relative; /* add position relative to form */
    z-index: 1; /* add a z-index of 1 to form to be on top of the background image */
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
    resize: none;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #444;
    border: 0;
  }
  
  input::-webkit-input-placeholder {
    font-size: 16px;
    color: #333;
  }
  
  input::-moz-placeholder {
    font-size: 12px;
    color: #333;
  }
  
  input:-ms-input-placeholder {
    font-size: 12px;
    color: #333;
  }
  
  input:-moz-placeholder {
    font-size: 12px;
    color: #333;
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, .5);
  }

 input{
  background-color: rgba(255, 255, 255, .5);
 }

 .submit{
  margin: 10px 40%;
  background-color: #cf6915;
  color: #FFF;
  padding: 10px 30px;
  border: 0;
  border-radius: 30px;
  font-size: 26px;
 }
 
 .submit:hover{
  background-color: #333;
 }
 
 .h2{
  font-size: 36px;
  text-transform: capitalize;
  color: #cf6915;
 }

 @media only screen and (max-width: 850px) {
  .background{
    background-image: url("https://img.freepik.com/free-vector/cashback-concept-style_23-2148458404.jpg?w=740&t=st=1676200556~exp=1676201156~hmac=c948e2f2ede76c8d5859ac669d88f40ed6a3e46b7af7f0d60c76e944f002dcf8");
}

form{
  background: rgb(128, 128, 128, .8);
}

}