*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body,html{
    scroll-behavior: smooth;
    background: rgba(128,128,128, .2);  
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.card{
    width: 100%;
    background-color: rgba(128,128,128, .5);
    padding: 2% 4%;
}

.how{
    text-align: center;
    padding: 10px 0;
    font-size: 34px;
    font-weight: 900;
    color: #973304;
    text-transform: capitalize;
}

.list{
    list-style-type: none;
    background-color: rgba(128,128,128, .5);
    padding: 2% 4%;
    margin: 50px 40px;
    border-radius: 30px;
}

.token{
    text-align: left;
    padding: 10px 0;
    font-size: 34px;
    font-weight: 700;
    color: #412711;
    padding: 10px;
}

.list ul li{
    list-style-type: none;;
}

.list ul li p{
    color: #000;
    font-size: 20px;
    padding: 20px 40px;
    text-align: left;
}

.note{
    font-size: 20px;
    font-weight: 300;
}

.note span{
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.metamask{
    margin-top: 40px;
}

.the-how{
    text-align: center;
    padding: 10px 0;
    font-size: 34px;
    font-weight: 700;
    color: #973304;
    text-transform: capitalize;
}

.link{
    text-align: center;
    padding: 10px 0;
    font-size: 28px;
    font-weight: 700;
    color: #412711;
}

.procedure{
    margin: 20px 60px;
    background-color: rgba(128,128,128, .5);
    border-radius: 30px;
    padding: 2% 4%;
}

.procedure li{
    list-style-type: none;
    width: 100%;
    padding: 3px 40px;
}

.procedure li p{
    font-size: 20px;
    text-align:left;
    text-shadow: #973304;
    padding: 5px 0;
}
ol li p {
    font-size: 16px;
    padding: 2 2;
    color: #412711;
}

ol li p span{
    color: #000;
    font-weight: 800;
}

.fa-solid{
    color: #412711;
    margin-right: 10px;
}

.fa-sharp{
    color: #412711;
    margin-right: 20px;
}

@media only screen and (max-width: 850px){
    .card{
        width: 100%;
        padding-top: 40px;
    }
    
    .how{
        font-size: 28px;
    }

    .list{
        padding: 4% 4%;
        margin: 20px 5px;
    }

    .token{
        text-align: center;
        padding: 10px 0;
        font-size: 26px;
    }

    .list ul li p{
        font-size: 18px;
    }

    .note{
        font-size: 18px;
        font-weight: 300;
        line-height: 150%;
    }
    
    .note span{
        color: white;
        font-weight: 500;
        font-size: 22px;
    }

    .the-how{
        font-size: 28px;
    }

    .link{
        font-size: 26px;
    }

    .procedure{
        margin: 20px 10px;
        padding: 2% 0;
    }
    
    .procedure li p{
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px){
    .card{
        margin-top: 20px;
        padding: 2% 5px;
    }

    .how{
        font-size: 20px;
    }

    .list{
        padding: 4% 5px;
        margin: 20px 5px;
    }

    .token{
        font-size: 19px;
    }

    .list ul li p{
        font-size: 16px;
    }

    .note{
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        padding: 5px;
    }
    
    .note span{
        color: white;
        font-weight: 500;
        font-size: 18px;
    }

    .the-how{
        font-size: 20px;
    }

    .link{
        font-size: 19px;
    }

    .procedure{
        margin: 20px 5px;
        padding: 20px 0;
    }
    
    .procedure li p{
        font-size: 16px;
    }

    ol li p {
        font-size: 14px;
        color: #412711;
    }

    ol li p span{
        color: #000;
        font-weight: 800;
        font-size: 12px;
    }
}